<div class="button-jackpot">
</div>

<div class="button-eventSlot">

    <div class="icon-eventSlot"></div>
    <div class="infoActive">
        <div class="bgTimeEvent">
            <span></span>
        </div>
        <div class="eventSession"></div>

    </div>
    <div class="infoWait">
        <div class="bgTimeEvent">
            <span></span>
        </div>
        <div class="text_event"></div>

    </div>





    <div class="infoGameSession">
        <div class="timeslot"></div>
        <div class="jckpotslot"></div>
        <div class="close_eventSlot"></div>
        <div class="his_eventSlot"></div>

        <div class="contentTopEventSlot">
            <div class="textLabe">THỨ HẠNG</div>


            <div class="Usertable">
                <ul>

                </ul>


            </div>
        </div>

        <div class="contentWaitTop">
            <div class="textwait">Đấu trường tiếp theo</div>
            <div class="textTimeWait"> </div>
            <div class="helpEventSlot"></div>
        </div>

    </div>

    <div class="contenRewardEventSlot">
        <div class="close_reward"></div>
        <div class="tablereward">
            <ul>

            </ul>
        </div>

    </div>





</div>


<div class="event-chuadao">
    <div class="e_oil"></div>
    <div class="e_rank"></div>

</div>
<div class="event-napx3"></div>