<div class="mini-game">
    <div class="button-toggle-minigame ">
        <div id="q-candy-n">

        </div>
        <div id="q-monster-n">

        </div>
        <div id="q-minipoker-n">

        </div>
        <div id="q-luckydice-n">

        </div>
    </div>

    <div class="minigame-expand">
        <span class="button button-back">

        </span>
        <div class="game" style="top: 40px; left: 317px;">
            <span title="Vòng Quay May Mắn">
                <i class="ic-lw"></i>
                <span class="name" style="width: 150px;">Vòng Quay May Mắn</span>
            <span class="count"></span>
            </span>
        </div>
        <div class="game" style="top: 110px;left: 500px;">
            <span>              
                <i class="ic-mp"></i>    
                <span class="name">MiniPoker Slot</span>
            </span>
        </div>
        <div class="game" style="top: 272px;left: 580px;">
            <span> 
                <i class="ic-tx"></i>   
                <span class="name">Tài Xỉu,Xóc Đĩa,Rồng Hổ</span>
            </span>
        </div>
        <div class="game" style="top: 482px;left: 564px;">
            <span>              
                <i class="ic-hl"></i>         
                <span class="name">Cao Thấp</span>
            </span>
        </div>
        <div class="game" style="top: 563px;left: 231px;">
            <span>               
                <i class="ic-bc"></i>  
                <span class="name">Candy Slot</span>
            </span>
        </div>
        <div class="game" style="top: 571px;left: 426px;">
            <span>           
                <i class="ic-kb"></i>      
                <span class="name">Kubo Slot</span>
            </span>
        </div>
        <div class="game" style="top: 441px;left: 76px;">
            <span>             
                <i class="ic-ps"></i>   
                <span class="name">Monster Slot</span>
            </span>
        </div>
        <div class="game" style="top: 291px;left: 30px;">
            <span>            
                <i class="ic-lwi"></i>     
                <span class="name">Xổ số</span>
            </span>
        </div>
        <div class="game" style="top: 115px;left: 96px;">
            <span>             
                <i class="ic-xs"></i>  
                <span class="name">Chúa Đảo</span>
            </span>
        </div>
        <div id="q-candy"></div>
        <div id="q-monster"></div>
        <div id="q-minipoker"></div>
        <div id="q-luckydice"></div>


    </div>

</div>