<div id="playxoso">
    <div class="mini_close"></div>
    <div class="mini_help"></div>
    <div class="mini_rank"></div>
    <div class="mini_history"></div>


    <div class="ulbtxoso">
        <div class="datxoso cua1" data-id="1"></div>
        <div class="datxoso cua2" data-id="2"></div>
        <div class="datxoso cua3" data-id="3"></div>

        <div class="datxoso cua4" data-id="4"></div>
        <div class="datxoso cua5" data-id="5"></div>
        <div class="datxoso cua6" data-id="6"></div>

        <div class="datxoso cua7" data-id="7"></div>
        <div class="datxoso cua8" data-id="8"></div>
        <div class="datxoso cua9" data-id="9"></div>
    </div>

    <div class="ulketquaxoso">
        <div class="prizeId00"></div>

        <div class="prizeId10"></div>

        <div class="prizeId20"></div>
        <div class="prizeId21"></div>

        <div class="prizeId30"></div>
        <div class="prizeId31"></div>
        <div class="prizeId32"></div>
        <div class="prizeId33"></div>
        <div class="prizeId34"></div>
        <div class="prizeId35"></div>

        <div class="prizeId40"></div>
        <div class="prizeId41"></div>
        <div class="prizeId42"></div>
        <div class="prizeId43"></div>

        <div class="prizeId50"></div>
        <div class="prizeId51"></div>
        <div class="prizeId52"></div>
        <div class="prizeId53"></div>
        <div class="prizeId54"></div>
        <div class="prizeId55"></div>

        <div class="prizeId60"></div>
        <div class="prizeId61"></div>
        <div class="prizeId62"></div>

        <div class="prizeId70"></div>
        <div class="prizeId71"></div>
        <div class="prizeId72"></div>
        <div class="prizeId73"></div>

    </div>

    <div class="ultickbt">
        <div class="btxosoFree"><span class="userFree">0</span></div>
        <div class="btxosotickUser"></div>
    </div>

    <div class="infoketquaxoso">
        <div class="btbackxoso"></div>
        <div class="btnextxoso"></div>
        <div class="vungmien">Kết quả xổ số Miền Bắc</div>
        <div class="dayxoso">10/10/2021</div>

    </div>
    <div class="notifyxoso">
        <ul class="contentnotify">

        </ul>


    </div>

    <div class="popupbetxoso">
        <div class="title">Đề đầu</div>

        <div id="ct_betxoso">

            <div class="rowxoso" style="top: 160px;">
                <span class="rowlabel" id="xososessionData">Đặt cửa,Thời gian đợi còn :  <span style="color: #ffff00; font-weight: bold;">11:22:33</span> </span>

            </div>


            <div class="rowxoso">
                <span class="rowlabel desctipLabel">Nhập số cược phân cách nhau bằng dấu “;”</span>
                <input type="text" class="txtbetxs" placeholder="" onfocus="commonXoso.onFocusBet(this);" onchange="commonXoso.onChangeInputBetValidate(this)">
            </div>

            <div class="rowxoso" style=" top: 304px;">
                <span class="rowlabel desctipLabelAmount">Nhập tiền cược mỗi số</span>
                <input type="text" class="txtamounts" style="width: 430px;" placeholder="" onfocus="commonXoso.onFocusAmount(this);" onchange="commonXoso.onChangeInputAmountValidate(this)">

                <div class="freemoneylabel">Sử dụng vé miễn phí : <span style="color:#ffff00">0</span></div>
                <div class="btfree1k">
                    <span style="position: absolute; top: 19px; left: 23px;">1k</span>
                    <span class="countTick">0</span>

                </div>

                <div class="btfree5k" style="left: 548px ;">
                    <span style="position: absolute; top: 19px; left: 23px;">5k</span>
                    <span class="countTick">0</span>
                </div>

                <div class="btfree10k" style=" left: 638px;">
                    <span style="position: absolute; top: 19px; left: 19px;">10k</span>
                    <span class="countTick">0</span>


                </div>




            </div>


            <div class="rowxoso" style=" top: 413px;">
                <span class="rowlabel">Tổng đặt :<span style="color: #ffff00" class="sumtotalbetxoso">0</span></span>
            </div>

            <div class="betXoso"></div>
            <div class="backbetXoso"></div>

            <div class="supportBet" id="supportBet">
                <div class="resultChonse"></div>
                <ul>
                    <li class="numberbetxoso0" ref="0">00</li>
                </ul>

                <div class="btchonsebet " id="eventselectBetid">Số chẵn</div>
                <div class="btchonsebet " id="oddselectBetid" style=" left: 100px;">Số lẻ</div>
                <div class="btchonsebet " id="unAllselectBetid" style=" left: 180px;">Bỏ chọn</div>
                <div class="btchonsebet" id="closesupportBetId" style="left: 800px;">Đóng</div>
            </div>

            <div class="supportBetmoney">
                <ul>
                </ul>
            </div>
        </div>

        <div id="ct_betxosook">
            <div style="display: block; font-size: 30px; color: #ffffff; font-weight: bold; text-align: center; position: absolute; width: 313px; left: 217px; top: 30px; ">Xác nhận đặt cược</div>
            <div class="typebetxoso_xacnhan">Bạn đã chọn Lô 2 số</div>
            <div class="textbetxacnhan"></div>
            <div class="amountbetxoso_xacnhan">Tiền cược mỗi số: <span style="color: #ff0">0</span></div>
            <div class="sum_xacnhan">Tổng: <span style="color: #ff0">0</span></div>
            <div class="bt_xacnhan"></div>
            <div class="back_xacnhan"></div>

        </div>
        <div class="msg_xoso"></div>


    </div>

</div>