<div class="candy" id="Candy">


    <div class="candy-lines" style="display: none;">
        <div class="text_dc">
            <h3>Dòng đặt cược</h3>
        </div>
        <div class="clear"></div>
        <ul style="width: 601px; height: 338px; margin: auto; background: rgb(0 0 0 / 0.2); border-radius: 10px; padding: 17px 10px;">
            <li class="active" id="so1" onclick=" commonCandy.onClickInPacket(1); ">
                <div class="egg-infoline">
                    <span>
                1
            </span>
                    <p>
                        <i class="egg-icon egg-l1"></i>
                    </p>
                </div>
            </li>
            <li id="so2" onclick=" commonCandy.onClickInPacket(2); ">
                <div class="egg-infoline">
                    <span>
                2
            </span>
                    <p>
                        <i class="egg-icon egg-l2"></i>
                    </p>
                </div>
            </li>
            <li id="so3" onclick=" commonCandy.onClickInPacket(3); ">
                <div class="egg-infoline">
                    <span>
                3
            </span>
                    <p>
                        <i class="egg-icon egg-l3"></i>
                    </p>
                </div>
            </li>
            <li id="so4" onclick=" commonCandy.onClickInPacket(4); ">
                <div class="egg-infoline">
                    <span>
                4
            </span>
                    <p>
                        <i class="egg-icon egg-l4"></i>
                    </p>
                </div>
            </li>
            <li id="so5" onclick=" commonCandy.onClickInPacket(5); ">
                <div class="egg-infoline">
                    <span>
                5
            </span>
                    <p>
                        <i class="egg-icon egg-l5"></i>
                    </p>
                </div>
            </li>
            <li id="so6" onclick=" commonCandy.onClickInPacket(6); ">
                <div class="egg-infoline">
                    <span>
                6
            </span>
                    <p>
                        <i class="egg-icon egg-l6"></i>
                    </p>
                </div>
            </li>
            <li id="so7" onclick=" commonCandy.onClickInPacket(7); ">
                <div class="egg-infoline">
                    <span>
                7
            </span>
                    <p>
                        <i class="egg-icon egg-l7"></i>
                    </p>
                </div>
            </li>
            <li id="so8" onclick=" commonCandy.onClickInPacket(8); ">
                <div class="egg-infoline">
                    <span>
                8
            </span>
                    <p>
                        <i class="egg-icon egg-l8"></i>
                    </p>
                </div>
            </li>
            <li id="so9" onclick=" commonCandy.onClickInPacket(9); ">
                <div class="egg-infoline">
                    <span>
                9
            </span>
                    <p>
                        <i class="egg-icon egg-l9"></i>
                    </p>
                </div>
            </li>
            <li id="so10" onclick=" commonCandy.onClickInPacket(10); ">
                <div class="egg-infoline">
                    <span>
                10
            </span>
                    <p>
                        <i class="egg-icon egg-l10"></i>
                    </p>
                </div>
            </li>
            <li id="so11" onclick=" commonCandy.onClickInPacket(11); ">
                <div class="egg-infoline">
                    <span>
                11
            </span>
                    <p>
                        <i class="egg-icon egg-l11"></i>
                    </p>
                </div>
            </li>
            <li id="so12" onclick=" commonCandy.onClickInPacket(12); ">
                <div class="egg-infoline">
                    <span>
                12
            </span>
                    <p>
                        <i class="egg-icon egg-l12"></i>
                    </p>
                </div>
            </li>
            <li id="so13" onclick=" commonCandy.onClickInPacket(13); ">
                <div class="egg-infoline">
                    <span>
                13
            </span>
                    <p>
                        <i class="egg-icon egg-l13"></i>
                    </p>
                </div>
            </li>
            <li id="so14" onclick=" commonCandy.onClickInPacket(14); ">
                <div class="egg-infoline">
                    <span>
                14
            </span>
                    <p>
                        <i class="egg-icon egg-l14"></i>
                    </p>
                </div>
            </li>
            <li id="so15" onclick=" commonCandy.onClickInPacket(15); ">
                <div class="egg-infoline">
                    <span>
                15
            </span>
                    <p>
                        <i class="egg-icon egg-l15"></i>
                    </p>
                </div>
            </li>
            <li id="so16" onclick=" commonCandy.onClickInPacket(16); ">
                <div class="egg-infoline">
                    <span>
                16
            </span>
                    <p>
                        <i class="egg-icon egg-l16"></i>
                    </p>
                </div>
            </li>
            <li id="so17" onclick=" commonCandy.onClickInPacket(17); ">
                <div class="egg-infoline">
                    <span>
                17
            </span>
                    <p>
                        <i class="egg-icon egg-l17"></i>
                    </p>
                </div>
            </li>
            <li id="so18" onclick=" commonCandy.onClickInPacket(18); ">
                <div class="egg-infoline">
                    <span>
                18
            </span>
                    <p>
                        <i class="egg-icon egg-l18"></i>
                    </p>
                </div>
            </li>
            <li id="so19" onclick=" commonCandy.onClickInPacket(19); ">
                <div class="egg-infoline">
                    <span>
                19
            </span>
                    <p>
                        <i class="egg-icon egg-l19"></i>
                    </p>
                </div>
            </li>
            <li id="so20" onclick=" commonCandy.onClickInPacket(20); ">
                <div class="egg-infoline">
                    <span>
                20
            </span>
                    <p>
                        <i class="egg-icon egg-l20"></i>
                    </p>
                </div>
            </li>
        </ul>

        <div class="clear"></div>
        <div class="chonso">
            <a href="javascript:commonCandy.onClickInPacketLe();" class="le"></a>
            <a href="javascript:commonCandy.onClickInPacketChan();" class="chan"></a>
            <a href="javascript:commonCandy.onClickRemoveSelectionpacket();" class="bo"></a>
            <a href="javascript:commonCandy.onClickInPacketAll();" class="tatca"></a>
            <a href="javascript:commonCandy.confirmChondong();" class="egg-close-Line"></a>
        </div>
    </div>

    <div class="candy-notice" style="display: none;"></div>
    <div id="jackCandy">0</div>
    <div class="candy_rect">
        <div class="rect1"></div>

        <div class="rect3"></div>
    </div>

    <div class="mini_close"></div>
    <div class="mini_help"></div>
    <div class="mini_rank"></div>
    <div class="mini_history"></div>

    <div id="candy_room">
        <div class="room100 active"></div>
        <div class="room1K"></div>
        <div class="room5K"></div>
        <div class="room10K"></div>
    </div>

    <div id="btn_candy">
        <div class="btn_spin"></div>
        <div class="btn_auto"></div>
        <div class="btn_sieutoc"></div>
        <div class="btn_line"></div>
    </div>


    <div class="candy_title">
        <div class="skvqxhu" style="left: 250px; top: -49px;"></div>
    </div>
    <div class="minicandy_game_v2"></div>
    <div class="number_line">1</div>


</div>