<div class="minigame-popup" id="lucky">
    <div class="dice-game-block" style="z-index: 121;" id="parentpop">
        <div class="mini_close"></div>
        <div class="mini_help"></div>
        <div class="mini_rank"></div>
        <div class="mini_history"></div>
        <div class="mini_static"></div>
        <div class="mini_nan"></div>
        <div class="mini_chat"></div>

        <div class="sessionLucky">#0</div>

        <div class="location tai"></div>
        <div class="location xiu"></div>
        <div id="totalbetOver">0</div>
        <div id="totalcountBetOver">0</div>
        <div id="totalbetUnder">0</div>
        <div id="totalcountBetUnder">0</div>
        <div id="betpersonOver">0</div>
        <div id="betpersonUnder">0</div>


        <div class="lucky_rect">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>

        </div>

        <div class="dice_game_v2">
        </div>

        <div class="timewaiting" style="display: none;">00:00</div>

        <div class="tips">
            <div class="tipsoverlay"></div>
        </div>

        <div class="statistic-tx">
            <div class="left-statistic-tx"></div>
            <div class="right-statistic-tx"></div>
        </div>


        <div class="column-price">
            <div class="column-number">


                <p class="row-2">
                    <input id="txtbetpersonOver" maxlength="11" disabled="disabled" autocomplete="off" onkeyup="commonLuckyDice.onChangeInputValidate(this);" onfocus="commonLuckyDice.onFocus(this);" onblur="commonLuckyDice.onBlur(this);" type="text" value="0">
                </p>
            </div>
            <div class="column-number">
                <p class="row-2">
                    <input id="txtbetpersonUnder" maxlength="11" disabled="disabled" autocomplete="off" onkeyup="commonLuckyDice.onChangeInputValidate(this);" onfocus="commonLuckyDice.onFocus(this);" onblur="commonLuckyDice.onBlur(this);" type="text" value="0">
                </p>
            </div>
        </div>
        <ul class="list-dice-small" id="gamehisId"></ul>
        <div class="setfast" id="setfastID" style="display: none">
            <ul class="numfast">
                <li onclick="commonLuckyDice.onClickBetfast(1000);">1.000</li>
                <li onclick="commonLuckyDice.onClickBetfast(5000);">5.000</li>
                <li onclick="commonLuckyDice.onClickBetfast(10000);">10.000</li>
                <li onclick="commonLuckyDice.onClickBetfast(100000);">100.000</li>
                <li onclick="commonLuckyDice.onClickBetfast(500000);">500k</li>
                <li onclick="commonLuckyDice.onClickBetfast(1000000);">1M</li>
                <li onclick="commonLuckyDice.onClickBetfast(5000000);">5M</li>
                <li onclick="commonLuckyDice.onClickBetfast(10000000);">10M</li>
                <li onclick="commonLuckyDice.onClickBetfast(100000000);">100M</li>
                <li onclick="commonLuckyDice.onClickBetfast(-1);">Tất tay</li>
            </ul>
            <ul class="numfast_other" style="display: none">
                <li onclick="commonLuckyDice.onClickBetfastOther(1);">1</li>
                <li onclick="commonLuckyDice.onClickBetfastOther(2);">2</li>
                <li onclick="commonLuckyDice.onClickBetfastOther(3);">3</li>
                <li onclick="commonLuckyDice.onClickBetfastOther(4);">4</li>
                <li onclick="commonLuckyDice.onClickBetfastOther(5);">5</li>
                <li onclick="commonLuckyDice.onClickBetfastOther(6);">6</li>
                <li onclick="commonLuckyDice.onClickBetfastOther(7);">7</li>
                <li onclick="commonLuckyDice.onClickBetfastOther(8);">8</li>
                <li onclick="commonLuckyDice.onClickBetfastOther(9);">9</li>
                <li onclick="commonLuckyDice.onClickBetfastOther(0);">0</li>
                <li onclick="commonLuckyDice.onClickBetfastOther(-2);">.000</li>
                <li onclick="commonLuckyDice.onClickBetfastOther(-1);"></li>
            </ul>

            <div class="bt_shortcutkey" onclick="commonLuckyDice.onClickTabfast()"></div>
            <div class="bt_fastOk" onclick="commonLuckyDice.postBet()"></div>
            <div class="bt_fastCancel" onclick="commonLuckyDice.onClickcancelfast();"></div>

        </div>



        <div class="messageTx"></div>



    </div>



</div>