<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dealer-normal-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1505},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1505},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1204},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-19.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1505},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,1204},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1204},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-24.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,1505},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-26.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1204},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-27.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-28.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-29.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-30.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-31.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1505},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-32.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1204},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-33.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-34.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-35.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-36.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-37.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1505},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-38.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1204},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-39.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-40.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-41.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-42.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-43.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1505},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-44.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1204},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-45.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-46.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-47.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-48.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,1505},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,1204},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-normal-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1608,1806}</string>
			<key>textureFileName</key>
			<string>dealer-normal.png</string>
			</dict>
		</dict>
</plist>