<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dealer-rung-nguc-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-17.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-19.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,602},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,301},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

			<key>dealer-rung-nguc-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,903},{200,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,300}}</string>
				<key>sourceSize</key>
				<string>{200,300}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1206,1204}</string>
			<key>textureFileName</key>
			<string>dealer-rungnguc.png</string>
			</dict>
		</dict>
</plist>