<div class="over_poup_child">
    <div class="popup_normal formlogin">
        <a class="btn-close_popupmini"></a>
        <div class="tab_popupmini">Đăng nhập</div>

        <div class="textbox input1"><input type="text" maxlength="18" placeholder="Tên tài khoản" name="username" id="txtUserName" autocomplete="off"></div>
        <div class="textbox input2"><input type="password" maxlength="30" placeholder="Mật khẩu" name="password" id="txtPass"></div>
        <div class="bt_login_form"></div>

        <div class="bt_loginfb_form"></div>
        <a class="text_register_new" href="javascript:">Đăng ký</a>
        <a class="text_forget_pass" href="javascript:">Quên mật khẩu</a>
        <div class="message"></div>
    </div>


</div>