<div class="over_poup_child">

    <div class="clorMap map1">
    </div>

    <div class="cloudTopleft">


    </div>
    <div class="cloudTopright">

    </div>
    <div class="cloudBottomleft">


    </div>
    <div class="cloudBottomright"></div>
    <div class="gameMapEvent">
        <div class="mapUserinfo">
            <span class="nickname"></span>
            <div class="oil"><span class="infoOil">Nhiên liệu:0</span><span class="oilIcon"></span> </div>
            <span class="userrank">Xếp hạng:0</span>
        </div>

        <div class="mapToprank">
            <div class="contentRank">
                <div id="topMapId">
                    <ul>


                    </ul>
                </div>

            </div>


        </div>
        <div class="mapbtnrank"></div>
        <div class="mapbtnhitory"></div>
        <div class="mapbtnhelp"></div>
        <div class="mapbtnClose"></div>
        <div class="btNext"></div>
        <div class="btPre"></div>
        <div class="notify active">
            <span class="bird"></span>
            <div class="contentNoti">
                <div id="topNotiId">
                    <ul>

                    </ul>

                </div>

            </div>
        </div>
        <div class="mapCountSpin">Lượt quay:0</div>
        <div class="spinvqisLand"></div>

        <div class="timeNoti">
            <span class="sodaulau"></span>
            <span class="time">10:00</span> Thời gian Nguy hiểm sắp tới mau di chuyển tới đảo chú ẩn
        </div>

        <div class="Maptooltip">
        </div>

        <div class="userCurrenMap"></div>
        <div class="userTopMap top1">
            <span></span>
        </div>
        <div class="userTopMap top2">
            <span></span>
        </div>

        <div class="userTopMap top3">
            <span></span>
        </div>
        <div class="isLandtimebg">
            <span class="txtTimeTitle">Thời gian ra mắt chúa đảo còn lại</span>
            <span class="txtTimeCount">00:00</span>
        </div>


    </div>




</div>